*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 16px 8%;

}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
a {
    text-decoration: none;
    color: #575757;
    
}
.common-btn{
    background-color: #1D4ED8;
    border-radius: 12px;
    padding: 5px 8px;
    margin: 5px;
    color: #FFFFFF;
}

header{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 42%, rgba(0,0,0,0.88) 87%),url('./images/banner.jpg');
    height: 90vh;
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
.header-content{
    text-align: center;
    color: #FFFFFF;
    display: grid;
    gap: 10px;
     
}
.header-content button{
    background-color: #1D4ED8;
    color: #FFFFFF;
    border-radius: 15px;
    margin-left: 40%;
padding: 10px 8px;
width: 25%;
}
section h1{
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px
}
.speaker-card img{
    width: 600px;
    height: 350px;
    object-fit: cover;
    display: block;
}
.category{
    margin-top: 5px;
    color: #2563EB;
}
.title{
    text-align: center;
}